body {
  animation-duration: 1s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body{
  font-family: 'Dancing Script';
  background-color: #02010A;
  margin: 0px;
  width: 100%
}

.contenedor{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.cabecera{
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  color: white;
  font-size: 32px;
  text-align: left;
  text-shadow: 2px 2px 2px #02010a;
}

nav{
float: right;
vertical-align: middle;
}
nav>a {
  color: inherit;
  font-size: 16px;
  text-shadow: 0px 0px 0px #000000
}

nav>a.actual{
  text-decoration: none;
}

img{
  box-shadow: 2px 2px 2px #02010A
}

.principal{
  margin: 0px;
  padding: 15px;
  background: #82c3a6;
}

#img_Center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left{
  margin: 0px;
  background: #d5c75f;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: space-around;

  -webkit-display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
}

.left>div{
  flex: 0 0;
  -webkit-flex: 0 0;
}

#img_Left{
  order: 1;
  -webkit-order: 1;
}

#img_Right{
  order: 2;
  -webkit-order: 2;
}

.left>div>a>figure>img{
  border: 1px black solid;
  width: 315px;
}

.left>div>a>figure>figcaption{
  color: black;
}

#img_Left>a>figure>img:first-child:hover{
  transform: rotateZ(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px black solid;
}

#img_Right>a>figure>img:first-child:hover{
  transform: translate(20px, -5px);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px black solid;
}

.pie{
  margin: 0px;
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  -webkit-display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -webkit-align-items: flex-start;
}

.pie>div{
  margin-left: 0px;
  margin-right: 0px;
  flex: 1 0;
  -webkit-flex: 1 0;
}

.pie>div>h2{
  display: inline;
}

.pie>div>a{
  color: black;
}

.pie>div>img.icons{
  border-style: none;
  box-shadow: 0px 0px 0px #000000;
  width: 16px;
}

#columna1{
  order: 1;
  -webkit-order: 1;
}
#columna2{
  order: 2;
  -webkit-order: 2;
}
#columna3{
  order: 3;
  -webkit-order: 3;
}
#columna4{
  order: 4;
  -webkit-order: 4;
}

.paisajes{
  margin: 0px;
  background: #d5c75f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;

  -webkit-display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
}

.paisajes>div{
  margin-bottom: 15px;
}
.paisajes>div>img{
  flex: 1 1;
  -webkit-flex: 0 0;
  border: 1px black solid;
  width: 250px;
}

.paisajes>div:first-child>img{
  filter: blur(10px);
}
.paisajes>div:nth-child(3)>img{
  filter: sepia(90%);
}
.paisajes>div:nth-child(even)>img{
  filter: grayscale(100%);
}
#paisaje1{
  order: 1;
  -webkit-order: 1;
  margin-top: 15px;
}
#paisaje2{
  order: 2;
  -webkit-order: 2;
  margin-top: 15px;
}
#paisaje3{
  order: 3;
  -webkit-order: 3;
  margin-top: 15px;
}
#paisaje4{
  order: 4;
  -webkit-order: 4;
}
#paisaje5{
  order: 5;
  -webkit-order: 5;
}
#paisaje6{
  order: 6;
  -webkit-order: 6;
}

.retratos{
  margin: 0px;
  background: #d5c75f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  -webkit-display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
}
.retratos>div{
  margin-bottom: 15px;
}
.retratos>div>img{
  flex: 1 1;
  -webkit-flex: 0 0;
  border: 1px black solid;
  width: 250px;
}
.retratos>div:first-child>img{
  filter: blur(10px);
}
.retratos>div:nth-child(3)>img{
  filter: sepia(90%);
}
.retratos>div:nth-child(even)>img{
  filter: grayscale(100%);
}
#retrato1 {
  order: 1;
  -webkit-order: 1;
  margin-top: 15px;
}
#retrato2 {
  order: 2;
  -webkit-order: 2;
  margin-top: 15px;
}
#retrato3 {
  order: 3;
  -webkit-order: 3;
  margin-top: 15px;
}
#retrato4 {
  order: 4;
  -webkit-order: 4;
  margin-top: 15px;
}
#retrato5 {
  order: 5;
  -webkit-order: 5;
  margin-top: 15px;
}
#retrato6 {
  order: 6;
  -webkit-order: 6;
  margin-top: 15px;
}
/* **********Para dispositivos móviles */
@media (max-width: 889px){

  .contenedor{
    margin: 0px;
    width: 100%
    
  }
nav{
  float: none;
}
#img_Center{
  width: 100%;
}
.left{
  flex-direction: column;
  -webkit-direction: column;
}
.left>div{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
.left>div>a>figure>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}

.pie{
  flex-direction: column;
  -webkit-flex-direction: column;
}
.pie>div{
  width: 100%;
}

#columna1{
  margin-bottom: 10px;
}
#columna2{
  margin-bottom: 10px;
}
#columna3{
  margin-bottom: 10px;
}

.pie>div{
  max-width: 320px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paisajes{
  flex-direction: column;
  -webkit-flex-direction: column;
}
.paisajes>div{
  width: 100%;
}
#paisaje2{
margin-top: 0px;
}
#paisaje3{
  margin-top: 0px;
}
#paisaje4{
  margin-bottom: 15px;
}
#paisaje5{
  margin-bottom: 15px;
}
#paisaje6{
  margin-bottom: 15px;
}

.paisajes>div>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.retratos{
  flex-direction: column;
  -webkit-flex-direction: column
}
.retratos>div>{
  width: 100%;
}
  #retrato2 {
    margin-top: 0px
  }
  #retrato3 {
    margin-top: 0px
  }
  #retrato4 {
    margin-bottom: 15px;
  }
  #retrato5 {
    margin-bottom: 15px;
  }
  #retrato6 {
    margin-bottom: 15px;
  }

.retratos>div>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
}
